<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .video {
                margin-top: 20%;
                margin-bottom: 20%;
                margin-left: 20%;
                margin-right: 20%;
        }
    </style>
</head>
<body>
    ABOUT
    <div class="video">
        <img src="{{url_for('video0')}}" width="50%">
    </div> 
    <div class="video">
        <img src="{{url_for('video1')}}" width="50%">
    </div> 
    <div class="video">
        <img src="{{url_for('video2')}}" width="50%">
    </div> 
    <div class="video">
        <img src="{{url_for('video3')}}" width="50%">
    </div> 
    <div class="video">
        <img src="{{url_for('video4')}}" width="50%">
    </div> 
    <div class="video">
        <img src="{{url_for('video5')}}" width="50%">
    </div> 
    

    

</body>
</html>